/**
 * Support for Right To Left (RTL) direction languages
 *
 * @package     conj-lite
 * @author      MyPreview (Github: @mypreview, @gookalani)
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Header
	## Site branding
	## Menu
	## Handheld menu toggle
	## JS-OffCanvas
	## Slinky
# Notices
# Pagination
# Content
	## Single Post
	## Post archive
	## Comments
	## Edit link
	## 404
# Container
# Blocks
	## Gap
	## Gallery
	## Columns
	## Media and text
# Media
	## Galleries
# Widgets
	## Widgets title
	## Search
	## Calendar
	## List style
# Shop tables
# WooCommerce widgets
	## layered nav
	## Product category
	## Price filter
	## Product search
	## Product list widget
	## Mini cart
# Checkout
	## Order review
	## Order received
# My account
	## Payment Methods
	## Customer login
# Products
	## WooCommerce Pagination
# Single product
	## Tabs
	## Comments
# Star rating
# Cart page
	## Cart collaterals
# Breadcrumb
# Search result
# IE10+ CSS
	## Header
	## WooCommerce
	## IE10+ CSS minimum width 48.0625em
		### Comments
		### WooCommerce
	## IE10+ CSS maximum width 48.0625em
		### Cart
	## IE10+ CSS minimum width 62.0625em
		### Header
		### WooCommerce
		### 404
	## IE10+ CSS minimum width 82.0625em
		### WooCommerce
	## IE10+ CSS minimum width 37.5625em
		## Gallery block
	## IE10+ CSS maximum width 62.0625em
		### WooCommerce
	## IE10+ CSS maximum width 27.5625em
		### Widgets
# IE Edge 16+ CSS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.rtl .wp-block-calendar tfoot td#next,
.rtl:not(.search-results) article.post.hentry.format-chat .entry-content > *:nth-child(even),
.rtl .navigation.pagination,
.rtl .calendar_wrap tfoot td#next,
.rtl .comment-body .reply,
.rtl .handheld-offcanvas .close-btn,
.rtl .woocommerce-MyAccount-paymentMethods .woocommerce-PaymentMethod--actions,
.rtl .woocommerce-checkout-review-order-table tfoot tr.cart-subtotal + .shipping td,
.rtl ul.woocommerce-thankyou-order-details li strong,
.rtl .woocommerce-password-strength,
.rtl .woocommerce-checkout-review-order-table tfoot tr:not(.shipping) td,
.rtl .woocommerce-checkout-review-order-table th.product-total,
.rtl .woocommerce-checkout-review-order-table .product-total,
.rtl .woocommerce-mini-cart-item .quantity,
.rtl .wp-block-quote.is-style-large cite, 
.rtl .wp-block-quote.is-style-large footer,
.rtl ul.products li.product .added_to_cart, 
.rtl ul.products li.product .button {
	text-align: left;
}
.rtl .site-branding,
.rtl .site-info,
.rtl .wp-block-calendar tfoot td#prev,
.rtl.post-type-archive-product .conj-lite-secondary-widget-area__sticky,
.rtl .select2-container--default .select2-selection--single,
.rtl .cart_totals  table td:before,
.rtl .wc-proceed-to-checkout .checkout-button,
.rtl .woocommerce-cart-form__contents .actions,
.rtl article.post.hentry .entry-content .post-password-form label,
.rtl .wp-block-categories.wp-block-categories-list,
.rtl .widget_pages ul,
.rtl .widget_categories ul,
.rtl .calendar_wrap tfoot td#prev,
.rtl th,
.rtl .product-search tr.s_product_cat td,
.rtl .product-search-results .entry a, 
.rtl .product-search-results .search-results .entry a {
	text-align: right;
}
.rtl .wp-block-calendar table th {
	text-align: center;
}
@media (min-width: 37.5625em) {
	.rtl .comment-metadata {
		text-align: left;
	}
}
@media (min-width: 48.0625em) {
	.rtl table.shop_table_responsive tr td {
		text-align: right;
	}
}
@media (min-width: 62.0625em) {
	.rtl.has-sidebar:not(.page-template-template-fluid) .woocommerce-MyAccount-content .woocommerce-table--order-details tfoot td,
	.rtl.has-sidebar:not(.page-template-template-fluid) .woocommerce-MyAccount-content .woocommerce-table--order-details .product-total {
		text-align: left;
	}
}
@media (max-width: 48em) {
	.rtl table.shop_table_responsive tr td:not(.product-thumbnail):not(.product-name):not(.download-actions):not(.actions):not(.product-remove) {
		text-align: left;
	}
}
@media (max-width: 37.5em) {
	.rtl .comment-metadata {
		text-align: right;
	}
	.rtl .woocommerce-table--order-downloads td,
	.rtl .woocommerce-MyAccount-orders td,
	.rtl .woocommerce-table--order-details tfoot td,
	.rtl .woocommerce-table--order-details .product-total {
		text-align: left;
	}
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.rtl ul, 
.rtl ol {
	padding-left: 0;
	padding-right: 15px;
}
.rtl li > ul, 
.rtl li > ol,
.rtl .entry-content ol,
.rtl .entry-content ul:not(.wp-block-categories):not(.wp-block-archives) {
	margin-left: 0;
}
.rtl .entry-content ol,
.rtl .entry-content ul {
	margin-right: 15px;
}
.rtl .entry-content .woocommerce-MyAccount-navigation > ul,
.rtl .entry-content .commentlist,
.rtl .entry-content ul.products, 
.rtl .entry-content ul.wp-block-archives,
.rtl .entry-content ul.wp-block-categories {
    margin-right: 0;
}
.rtl ul.products,
.rtl .site-header-cart {
	padding-right: 0;
}
.rtl li > ul, 
.rtl li > ol {
	margin-right: 15px;
}
.rtl .wp-block-quote.is-large,
.rtl .wp-block-quote.is-style-large {
	padding: 6px 23px 10px 0;
	border-width: 0 3px 0 0;
}
.rtl .wp-block-quote:not(.is-large):not(.is-style-large),
.rtl blockquote:not(.wp-block-pullquote) {
	padding: 24px 36px 24px 0;
}
.rtl .wp-block-pullquote blockquote {
	padding: 0;
}
.rtl .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-right: 0;
	padding-right: 36px;
	padding-left: 0;
}
.rtl cite:before {
	margin-right: 0;
	margin-left: 5px;
}
.rtl pre.wp-block-code {
    direction: ltr;
}
.rtl blockquote.wp-block-quote:not(.is-large):not(.is-style-large):before {
    right: 0;
    left: auto;
}
.rtl p.has-drop-cap:not(:focus)::first-letter {
  float: right;
  margin: 0.05em 0 0 0.1em;
}
.rtl .wp-block-separator.is-style-dots:before {
	padding-right: 0;
    padding-left: 2em;
}
@media (min-width: 27.5625em) {
	.rtl dt {
		float: right;
		clear: right;
	}
	.rtl dd {
		float: left;
		clear: left;
	}
}
@media (min-width: 37.0625em) {
	.rtl tr > th:not(:last-of-type),
	.rtl tr > td:not(:last-of-type) {
		padding-left: 30px;
		padding-right: 0.5em;
	}
	.rtl.has-sidebar.page-template-template-fluid .entry-content .alignfull.wp-block-pullquote, 
	.rtl.has-sidebar.post-template-template-fluid .entry-content .alignfull.wp-block-pullquote, 
	.rtl.has-sidebar.product-template-template-fluid .entry-content .alignfull.wp-block-pullquote,
	body.rtl:not(.has-sidebar):not(.single-post):not(.conj-lite-blog__archive) .entry-content .wp-block-pullquote.alignfull {
		margin: 30px calc(-50vw + 57.5px) 30px auto;
	}
	.rtl .wp-block-pullquote:not(.is-style-solid-color) blockquote:before {
		right: -75px;
		left: auto;
	}
	.rtl .wp-block-pullquote:not(.is-style-solid-color) blockquote:after {
		left: -75px;
		right: auto;
	}
	.rtl .wp-block-pullquote.is-style-solid-color blockquote:before {
		right: -65px;
		left: auto;
	}
	.rtl .wp-block-pullquote.is-style-solid-color blockquote:after {
		left: -65px;
		right: auto;
	}
	.rtl .wp-block-pullquote.alignleft {
		margin-left: calc(45px + 2em);
		margin-right: 45px;
	}
	.rtl .wp-block-pullquote.alignright {
		margin-right: calc(45px + 2em);	
		margin-left: 45px;	
	}
}
@media (max-width: 37em) {
	.rtl tr > th:not(:last-of-type),
	.rtl tr > td:not(:last-of-type) {
		padding-left: 0.7em;
		padding-right: 0;
	}
	.rtl .wp-block-pullquote blockquote:before {
		right: -55px;
		left: auto;
	}
	.rtl .wp-block-pullquote blockquote:after {
		left: -55px;
		right: auto;
	}
	.rtl body:not(.conj-lite-blog__archive):not(.single-post) #main .wp-block-pullquote.alignfull {
    	margin: 30px calc(-50vw + 42px) 30px auto;
	}
	.rtl .wp-block-pullquote.alignleft {
		margin-left: calc(30px + 2em);
		margin-right: 30px;
	}
	.rtl .wp-block-pullquote.alignright {
		margin-right: calc(30px + 2em);	
		margin-left: 30px;	
	}
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.rtl input[type="checkbox"], 
.rtl input[type="radio"] {
	margin-right: 0;
	margin-left: 10px;
	width: 16px !important;
	height: 16px !important;
}
.rtl .wp-block-file__button:before {
	padding-right: 0;
	padding-left: 10px;
}
.rtl .form-row.woocommerce-validated label:after,
.rtl .form-row.woocommerce-invalid label:after {
	right: auto;
	left: 14px;
}
.rtl .select2-container--default.select2 .selection .select2-selection--single,
.rtl .select2-container--default.select2 .selection .select2-selection--multiple {
	background-position: calc(0% + 13px) calc(1.3em + 2px),calc(0% + 17.8px) calc(1.3em + 2px),100% 0;
}
.rtl select:not([multiple="multiple"]) {
	padding: 12px 14px 12px 30px;
	background-position: calc(0% + 10px) calc(1.3em + 2px),calc(0% + 14.8px) calc(1.3em + 2px),100% 0;
}
.rtl select[multiple="multiple"] option {
	padding: 10px 14px 10px 25px;
}
.rtl select,
.rtl input[type="text"], 
.rtl input[type="email"], 
.rtl input[type="url"], 
.rtl input[type="password"], 
.rtl input[type="search"], 
.rtl input[type="number"], 
.rtl input[type="tel"], 
.rtl input[type="range"], 
.rtl input[type="date"], 
.rtl input[type="month"], 
.rtl input[type="week"], 
.rtl input[type="time"], 
.rtl input[type="datetime"], 
.rtl input[type="datetime-local"], 
.rtl input[type="color"], 
.rtl textarea,
.rtl input[type="checkbox"],
.rtl input[type="radio"] {
	-webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important;
}
.rtl .select2-container--default .select2-results > .select2-results__options {
	padding-right: 0;
}
.rtl .wp-block-file .wp-block-file__button:not(:empty):before {
	padding-right: 0;
	padding-left: 10px;
}
@media (min-width: 48.0625em) {
	.rtl .woocommerce-EditAccountForm .form-row-first,
	.rtl .woocommerce-address-fields__field-wrapper .form-row-first,
	.rtl .woocommerce-form-login .form-row-first,
	.rtl .wc_payment_method .form-row-first,
	.rtl .col2-set .form-row-first {
		float: right;
		margin-right: 0;
		margin-left: 3.8%;
	}
	.rtl .woocommerce-EditAccountForm .form-row-last,
	.rtl .woocommerce-address-fields__field-wrapper .form-row-last,
	.rtl .woocommerce-form-login .form-row-last,
	.rtl .wc_payment_method .form-row-last,
	.rtl .col2-set .form-row-last {
		float: left;
		margin-left: 0;
	}
}
/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/
@media (max-width: 62em) {
	.rtl .site-header .primary-navigation {
		left: 20px;
		right: auto;
	}
}
/*--------------------------------------------------------------
## Menus 
--------------------------------------------------------------*/
.rtl #site-navigation > div.menu > ul > li:not(:last-child),
.rtl .primary-navigation > ul.menu > li:not(:last-child) {
	padding-left: 40px;
	padding-right: 0;
}
.rtl #site-navigation>div.menu>ul .page_item_has_children>a:after, 
.rtl .primary-navigation ul.menu>li.menu-item-has-children>a:after {
	margin-left: 0;
	margin-right: 7px;
}
.rtl #site-navigation > div.menu > ul ul.children > li > ul.children,
.rtl #masthead ul.sub-menu > li > ul.sub-menu {
	margin-right: 6px;
	margin-left: 0;
	right: 100%;
	left: auto;
}
.rtl #site-navigation > div.menu > ul ul.children:after,
.rtl #masthead ul.menu > li.menu-item-has-children > ul.sub-menu:after {
	left: auto;
	right: 0;
}
.rtl #site-navigation > div.menu ul.children > li > ul.children:after,
.rtl #masthead ul.sub-menu > li > ul.sub-menu:after {
	right: -6px;
	left: auto;
}
.rtl #site-navigation > div.menu > ul ul.children:before,
.rtl #masthead ul.menu > li.menu-item-has-children > ul.sub-menu:before {
    right: 25px;
    left: auto;
}
.rtl #site-navigation > div.menu ul.children > li > ul.children:before,
.rtl #masthead ul.sub-menu > li > ul.sub-menu:before {
    right: -5px;
    left: auto;
	border-width: 1px 1px 0 0;
}
.rtl #site-navigation > div.menu > ul ul.children .page_item_has_children > a:after,
.rtl #masthead ul.sub-menu > li.menu-item-has-children > a:after {
	margin-left: 0;
	margin-right: 20px;
	content: "\e92e";
}
@media (max-width: 81.250em) and (min-width: 62.0625em) {
	.rtl #masthead ul.menu > li:not(:nth-child(-n+4)) ul.sub-menu ul.sub-menu:before,
	body.rtl:not(.woocommerce-running) #masthead ul.menu > li:not(:nth-child(-n+4)) ul.sub-menu ul.sub-menu:before,
	.rtl #site-navigation > div.menu > ul > li:not(:nth-child(-n+4)) ul.children ul.children:before {
		left: -5px;
		right: auto;
	}
	.rtl #masthead ul.menu > li:not(:nth-child(-n+4)) ul.sub-menu ul.sub-menu,
	body.rtl:not(.woocommerce-running) #masthead ul.menu > li:not(:nth-child(-n+4)) ul.sub-menu ul.sub-menu,
	.rtl #site-navigation > div.menu > ul > li:not(:nth-child(-n+4)) ul.children ul.children {
		margin-left: 6px;
		left: 100%;
		margin-right: 0;
		right: auto;
	}
	.rtl #masthead ul.menu > li:not(:nth-child(-n+6)) > ul.sub-menu:before,
	body.rtl:not(.woocommerce-running) #masthead ul.menu > li:not(:nth-child(-n+6)) > ul.sub-menu:before,
	.rtl #site-navigation > div.menu > ul > li:not(:nth-child(-n+6)) > ul.children:before {
		right: auto;
		left: 25px;
	}
	.rtl #masthead ul.menu > li:not(:nth-child(-n+6)) > ul.sub-menu,
	body.rtl:not(.woocommerce-running) #masthead ul.menu > li:not(:nth-child(-n+6)) > ul.sub-menu,
	.rtl #site-navigation > div.menu > ul > li:not(:nth-child(-n+6)) > ul.children {
		right: auto;
		left: 0;
	}
	.rtl #masthead ul.menu > li:not(:nth-child(-n+4)) ul.sub-menu li.menu-item-has-children > a:after,
	body:not(.woocommerce-running).rtl #masthead ul.menu > li:not(:nth-child(-n+4)) ul.sub-menu li.menu-item-has-children > a:after,
	.rtl #site-navigation > div.menu > ul > li:not(:nth-child(-n+4)) ul.children .page_item_has_children > a:after {
		margin-left: 20px;
		margin-right: 0;
	}
	.rtl #masthead .col-full > .primary-navigation ul.menu > li.menu-item.menu-item-has-children:nth-child(7) > ul.sub-menu:before {
		right: 25px;
		left: auto;
	}
	.rtl #masthead .col-full > .primary-navigation ul.menu > li.menu-item.menu-item-has-children:nth-child(7) > ul.sub-menu {
		right: 0;
		left: auto;
	}
	.rtl #masthead .col-full > .primary-navigation ul.menu > li.menu-item.menu-item-has-children:nth-child(7) ul.sub-menu > li:not(.menu-item-has-children) > a:after {
		margin-left: 0;
		margin-right: 20px;
	}
}
/*--------------------------------------------------------------
## Header cart
--------------------------------------------------------------*/
.rtl .site-header-cart .cart-contents:after {
    right: auto;
    left: 10px;
}
.rtl .site-header-cart .cart-contents {
	padding: 5px 10px 5px 34px;
}
.rtl .site-header-cart .woocommerce-mini-cart-item img.attachment-woocommerce_thumbnail {
	margin-left: 20px;
	margin-right: 0;
}
@media (min-width: 62.0625em) {
	.rtl .site-header-cart .widget_shopping_cart {
		right: auto;
		left: 0;
	}
	.rtl .site-header-cart .widget_shopping_cart_content:before {
		left: 30px;
		right: auto;
	}
}
/*--------------------------------------------------------------
## Handheld menu toggle
--------------------------------------------------------------*/
@media (max-width: 62em) {
	.rtl .hamburger-nav-icon .icon-bar:first-of-type {
		margin-left: 0;
		margin-right: auto;
	}
	.rtl .hamburger-nav-icon {
		margin-left: 14px;
		margin-right: 0;
	}
	.rtl .hamburger-nav-icon {
		margin-right: 14px;
		margin-left: 0;
	}
	.rtl .site-header .primary-navigation {
		left: 20px;
		right: auto;
	}
	.rtl .site-branding {
		text-align: right;
	}
}
/*--------------------------------------------------------------
## Slinky
--------------------------------------------------------------*/
.rtl #handheld-slinky-menu .current-menu-ancestor > a:before,
.rtl #handheld-slinky-menu .current_page_ancestor > a:before,
.rtl #handheld-slinky-menu .current-menu-item > a:before,
.rtl #handheld-slinky-menu .current-menu-parent > a:before,
.rtl #handheld-slinky-menu .current_page_item > a:before,
.rtl .slinky-menu > ul {
	right: 0;
	left: auto;
}
.rtl .slinky-menu ul {
	padding-right: 2em;
	padding-left: 0;
	right: 0;
	left: auto;
	margin-right: 0;
}
.rtl .slinky-menu li {
	padding-left: 20px;
	padding-right: 0;
}
.rtl .slinky-menu li ul {
	right: 100%;
	left: auto;
}
.rtl .slinky-theme-default .back::before {
	margin-right: -5px;
	margin-left: 0;
	content: "\e92f";
}
.rtl .slinky-theme-default .next::after {
    margin-right: 1em;
    margin-left: 0;
	content: "\e92e";
}
/*--------------------------------------------------------------
# Notices
--------------------------------------------------------------*/
.rtl .demo_store,
.rtl .woocommerce-store-notice,
.rtl #content .woocommerce-message, 
.rtl #content .woocommerce-info, 
.rtl #content .woocommerce-error:not(:empty), 
.rtl #content .woocommerce-noreviews,
.rtl .comment-meta .comment-awaiting-moderation,
.rtl .akismet_comment_form_privacy_notice,
.rtl .comment-respond .comment-notes,
.rtl p.no-comments {
	padding: 14px 50px 14px 20px;
}
.rtl .entry-content ul.woocommerce-message, 
.rtl .entry-content ul.woocommerce-info, 
.rtl .entry-content ul.woocommerce-error {
	margin-right: 0;
}
.rtl .demo_store:before,
.rtl .woocommerce-store-notice:before,
.rtl .woocommerce-message:before, 
.rtl .woocommerce-info:before, 
.rtl .woocommerce-error:before, 
.rtl .woocommerce-noreviews:before,
.comment-meta .comment-awaiting-moderation:before,
.rtl .akismet_comment_form_privacy_notice:before,
.rtl .comment-respond .comment-notes:before,
.rtl p.no-comments:before {
    right: 20px;
    left: auto;
}
@media (min-width: 37.5625em) {
	.rtl .woocommerce-info .showlogin,
	.rtl .woocommerce-info .showcoupon,
	.rtl .woocommerce-store-notice__dismiss-link,
	.rtl .woocommerce-message > a,
	.rtl .woocommerce-error .button, 
	.rtl .woocommerce-message .button, 
	.rtl .woocommerce-info .button {
		margin: -14px auto -14px -20px;
	}
}
@media (max-width: 37.5em) {
	.rtl .woocommerce-info .showlogin,
	.rtl .woocommerce-info .showcoupon,
	.rtl .woocommerce-error .button,
	.rtl .woocommerce-message .button,
	.rtl .woocommerce-message > a,
	.rtl .woocommerce-info .button,
	.rtl .woocommerce-store-notice__dismiss-link {
		margin: 10px -50px -14px -20px;
	}
}
/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.rtl .site-main .comment-navigation .nav-links .nav-previous a > span:before,
.rtl .post-navigation .nav-links .nav-previous a > span:before,
.rtl .pagination .page-numbers.prev:before {
	content: "\e92f";
}
.rtl .site-main .comment-navigation .nav-links .nav-next a > span:after,
.rtl .post-navigation .nav-links .nav-next a > span:after,
.rtl .pagination .page-numbers.next:before {
	content: "\e92e";
}
.rtl .page-links > * {
	margin-right: 0;
	margin-left: 11px;
}
.rtl .pagination .page-numbers:not(:first-child),
.rtl .comment-navigation .nav-links a > span:after,
.rtl .post-navigation .nav-links a > span:after {
	margin-left: 0;
}
.rtl .pagination .page-numbers:not(:last-child),
.rtl .post-navigation .nav-links a > span:before {
	margin-right: 0;
}
.rtl .page-links > *:first-child {
	margin-right: 10px;
}
.rtl .comment-navigation .nav-links a > span:before,
.rtl .post-navigation .nav-links a > span:before {
	margin-left: 10px;
}
.rtl .comment-navigation .nav-links a > span:after,
.rtl .post-navigation .nav-links a > span:after {
	margin-right: 10px;
}
.rtl .pagination .page-numbers:not(:first-child) {
    margin-right: 5px;
}
.rtl .pagination .page-numbers:not(:last-child) {
    margin-left: 5px;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Single Post
--------------------------------------------------------------*/
.rtl.single-post article.post.hentry .entry-footer .tags-links:before {
    right: 0;
    left: auto;
}
.rtl.single-post article.post.hentry .entry-footer .tags-links > a {
    padding: 0 7.5px 0px 8px;
}
/*--------------------------------------------------------------
## Post archive
--------------------------------------------------------------*/
.rtl article.post.hentry.format-status:before,
.rtl article.post.hentry.format-quote:before,
.rtl article.post.hentry.format-image:before,
.rtl article.post.hentry.format-gallery:before,
.rtl article.post.hentry.format-audio:before {
	right: auto;
	left: 27px;
}
.rtl:not(.search-results) article.post.hentry.format-chat .entry-content > *:nth-child(odd) {
	margin-left: auto;
	margin-right: 0;
	align-self: flex-end;
	border-width: 0 1px 1px 0;
	-webkit-box-shadow: 4px 3px 6px 0 rgba(69, 73, 91, 0.08);
	        box-shadow: 4px 3px 6px 0 rgba(69, 73, 91, 0.08);
}
.rtl:not(.search-results) article.post.hentry.format-chat .entry-content > *:nth-child(odd):before {
	border-width: 1px 1px 0 0;
	right: -5.5px;
	left: auto;
}
.rtl:not(.search-results) article.post.hentry.format-chat .entry-content > *:nth-child(even) {
	margin-right: auto;
	margin-left: 0;
	align-self: flex-start;
	border-width: 0 0 1px 1px;
	-webkit-box-shadow: -4px 3px 6px 0 rgba(69, 73, 91, 0.08);
	        box-shadow: -4px 3px 6px 0 rgba(69, 73, 91, 0.08);
}
.rtl:not(.search-results) article.post.hentry.format-chat .entry-content > *:nth-child(even):before {
	right: auto;
	left: -5.5px;
	border-width: 0 0 1px 1px;
}
body.search-results.rtl article.type-post .entry-footer .cat-tags-links > span:not(:last-child),
body.search-results.rtl article.type-post .entry-meta > span:not(:last-child) {
	margin-right: 0;
	margin-left: 20px;
}
@media (min-width: 27.5625em) {
	.rtl article.post.hentry .post-meta > *:not(:last-child):after {
		left: 0;
		right: auto;
	}
}
@media (min-width: 42.5625em) {
	.rtl article.post.hentry.format-link:before,
	.rtl article.post.hentry.format-quote:before,
	.rtl article.post.hentry.format-aside:before,
	.rtl article.post.hentry.format-chat:before,
	.rtl article.post.hentry.format-video:before {
		right: auto;
	}
	.rtl article.post.hentry.format-chat:before,
	.rtl article.post.hentry.format-video:before {
		left: 30px;
	}
	.rtl article.post.hentry.sticky:before {
		left: auto;
		right: 25px;
	}
	.rtl article.post.hentry.format-aside:before {
		left: 25px;
	}
	.rtl article.post.hentry.format-quote:before {
		left: 18.5px;
	}
	.rtl article.post.hentry.format-link:before {
		left: 29px;
	}
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.rtl .comment-meta .comment-author,
.rtl .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-meta ,
.rtl ol.comment-list .children .comment-meta .comment-author {
    padding-left: 0;
}
.rtl .comment-meta .comment-author {
	padding-right: 68px;
}
.rtl ol.comment-list .children .comment-meta .comment-author {
    padding-right: 60px;
}
.rtl ol.comment-list .comment-body img.avatar {
	right: 0;
	left: auto;
}
.rtl .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment img.avatar {
    right: 30px;
    left: auto;
}
.rtl .comment-body .reply a:before {
	margin-left: 5px;
	margin-right: 0;
}
.rtl .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-meta {
	padding-right: 61px;
}
.rtl .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
.rtl .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
	margin-right: 0;
}
@media (max-width: 37.5em) {
	.rtl .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment img.avatar {
		right: 22px;
		left: auto;
	}
}
/*--------------------------------------------------------------
## Edit link
--------------------------------------------------------------*/
@media (min-width: 62.0625em) {
	.rtl .entry-footer .edit-link .post-edit-link {
		left: -200px;
		right: auto;
		-webkit-transition: left 0.3s ease-in;
		-o-transition: left 0.3s ease-in;
		transition: left 0.3s ease-in;
	}
	.rtl .entry-footer .edit-link .post-edit-link:before {
		left: auto;
		right: 15px;
	}
	.rtl .entry-footer .edit-link .post-edit-link:hover {
		left: 0;
		right: auto;
	}
}
/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
.rtl .no-results.not-found form.search-form .search-field,
.rtl .error-404.not-found form.search-form .search-field {
	padding: 10px 40px 10px 20px;
}
.rtl .error-404.not-found .widget_product_search .woocommerce-product-search:before,
.rtl .error-404.not-found form.product-search-form:before,
.rtl .no-results.not-found form.search-form label:before,
.rtl .error-404.not-found form.search-form label:before {
	right: 15px;
	left: auto;
}
.rtl .error-404.not-found input[type="text"].product-search-field {
	padding: 10px 40px 10px 20px;
}
/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.has-sidebar.rtl:not(.product-template-template-fluid):not(.post-template-template-fluid):not(.page-template-template-fluid) .conj-lite-col__full {
	direction: ltr;
}
.has-sidebar.rtl:not(.product-template-template-fluid):not(.post-template-template-fluid):not(.page-template-template-fluid) .conj-lite-col__full > * {
	direction: rtl;
}
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
.rtl .entry-content .wp-block-gallery,
.rtl .wp-block-gallery {
	padding-right: 0;
	margin-right: 0;
}
.rtl.has-sidebar.page-template-template-fluid .entry-content .alignfull,
.rtl.has-sidebar.post-template-template-fluid .entry-content .alignfull,
.rtl.has-sidebar.product-template-template-fluid .entry-content .alignfull,
body.rtl:not(.has-sidebar) .entry-content .alignfull {
	margin-right: -50vw;
    margin-left: auto;
    left: auto;
    right: 50%;
}
@media (min-width: 81.250em) {
	.rtl.has-sidebar.page-template-template-fluid .entry-content .alignwide,
	.rtl.has-sidebar.post-template-template-fluid .entry-content .alignwide,
	.rtl.has-sidebar.product-template-template-fluid .entry-content .alignwide,
	body.rtl:not(.has-sidebar) .entry-content .alignwide {
		margin-right: -45vw;
		margin-left: auto;
		left: auto;
		right: 50%;
	}
}
@media (max-width: 62em) and (min-width: 46.875em) {
	.rtl .entry-content .alignfull {
        margin-right: -50vw;
		margin-left: auto;
		left: auto;
		right: 50%;
    }
}
/*--------------------------------------------------------------
## Gap
--------------------------------------------------------------*/
@media (min-width: 37.5625em) {
	.rtl .col-2:not(.woocommerce-column):not(.u-column2) > *:nth-child(2n+1) {
		margin-right: 0;
	}
}
@media (min-width: 80.0625em) {
	.rtl .woocommerce-columns--6 > li:nth-child(6n+1),
	.rtl .woocommerce-columns--5 > *:nth-child(5n+1),
	.rtl .col-5:not(.woocommerce-column):not(.u-column5) > *:nth-child(5n+1) {
		margin-right: 0;
	}
}
@media (min-width: 60.0625em) {
	.rtl ul.products.columns-2 > li:nth-child(2n+1),
	.rtl .woocommerce-columns--2 > *:nth-child(2n+1),
	.rtl .woocommerce-columns--3 > *:nth-child(3n+1),
	.rtl ul.products.columns-3 > li:nth-child(3n+1),
	.rtl .woocommerce-columns--4 > *:nth-child(4n+1),
	.rtl ul.products.columns-4 > li:nth-child(4n+1),
	.rtl .col-3:not(.woocommerce-column):not(.u-column3) > *:nth-child(3n+1),
	.rtl .col-4:not(.woocommerce-column):not(.u-column4) > *:nth-child(4n+1) {
		margin-right: 0;
	}
}
@media (max-width: 80em) and (min-width: 60.0625em) { 
	.rtl .woocommerce-columns--6 > *:nth-child(3n+1),
	.rtl .woocommerce-columns--5 > *:nth-child(3n+1),
	.rtl .col-5:not(.woocommerce-column):not(.u-column5) > *:nth-child(3n+1) {
		margin-right: 0;
	}
}
@media (max-width: 60em) and (min-width: 37.5625em) {
	.rtl [class*="woocommerce-columns--"] > *:nth-child(2n+1),
	.rtl ul.products.columns-3 > li:nth-child(2n+1),
	.rtl ul.products.columns-4 > li:nth-child(2n+1),
	.rtl .col-3:not(.woocommerce-column):not(.u-column3) > *:nth-child(2n+1),
	.rtl .col-5:not(.woocommerce-column):not(.u-column5) > *:nth-child(2n+1),
	.rtl .col-4:not(.woocommerce-column):not(.u-column4) > *:nth-child(2n+1) {
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
## Gallery
--------------------------------------------------------------*/
.rtl .wp-block-gallery .blocks-gallery-item {
	margin: 0 0 16px 16px;
}
.rtl .wp-block-gallery .blocks-gallery-item:last-child,
.rtl .wp-block-gallery.columns-1 .blocks-gallery-item,
.rtl .wp-block-gallery .blocks-gallery-item:nth-of-type(even) {
	margin-left: 0; 
}
@media (min-width: 37.5em) {
	.rtl .wp-block-gallery.columns-3 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-4 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-5 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-6 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-7 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-8 .blocks-gallery-item:not(:last-child) {
		margin-left: 16px; 
		margin-right: 0; 
	}
	.rtl .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n),
	.rtl .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),
	.rtl .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),
	.rtl .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n),
	.rtl .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n),
	.rtl .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n),
	.rtl .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n),
	.rtl .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n) {
		margin-left: 0; 
	} 
}
/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
@media (min-width: 37.5em) {
	.rtl .wp-block-columns .wp-block-column,
	.rtl .wp-block-column:nth-child(odd),
	.rtl .wp-block-column:not(:last-child) {
		margin-left: 0;
	}
	.rtl .wp-block-columns .wp-block-column {
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
## Media and text
--------------------------------------------------------------*/
.rtl .wp-block-media-text {
    direction: ltr;
}
.rtl .wp-block-media-text__content {
	direction: rtl;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.rtl .gallery-columns-9 > *:not(:nth-child(9n+1)),
.rtl .gallery-columns-8 > *:not(:nth-child(8n+1)),
.rtl .gallery-columns-7 > *:not(:nth-child(7n+1)),
.rtl .gallery-columns-6 > *:not(:nth-child(6n+1)),
.rtl .gallery-columns-5 > *:not(:nth-child(5n+1)),
.rtl .gallery-columns-4 > *:not(:nth-child(4n+1)),
.rtl .gallery-columns-3 > *:not(:nth-child(3n+1)),
.rtl .gallery-columns-2 > *:not(:nth-child(2n+1)) {
	margin-right: 10px;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.rtl .wp-block-archives li a > .count,
.rtl .wp-block-categories-list li a > .count {
	margin-left: 0;
	margin-right: 10px;
}
/*--------------------------------------------------------------
## Widgets title
--------------------------------------------------------------*/
.rtl .widget-title .rsswidget:first-of-type,
.rtl .site-footer .widget-title__wrapper:after {
	right: 0;
	left: auto;
}
.rtl #secondary .widget-title .rsswidget + .rsswidget {
	padding-left: 0;
	padding-right: 20px;
}
/*--------------------------------------------------------------
## Search
--------------------------------------------------------------*/
.rtl .widget form[role="search"] input[type="search"] {
	padding: 13.5px 30px 13.5px 15px;
}
.rtl .site-footer .widget form[role="search"]:before,
.rtl #secondary .widget form[role="search"]:before {
	right: 10px;
	left: auto;
}
/*--------------------------------------------------------------
## Calendar
--------------------------------------------------------------*/
.rtl #wp-calendar tr > th:not(:last-of-type), 
.rtl #wp-calendar tr > td:not(:last-of-type) {
    padding-left: 0;
}
/*--------------------------------------------------------------
## List style
--------------------------------------------------------------*/
.rtl .site-footer .widget ul.menu .sub-menu,
.rtl #secondary .widget ul.menu .sub-menu,
.rtl .widget_pages ul ul.children,
.rtl .wp-block-categories.wp-block-categories-list ul ul.children,
.rtl .widget_categories ul ul.children {
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 1px;
	margin-right: 0;
}
.rtl .wp-block-categories.wp-block-categories-list ul,
.rtl .widget_tag_cloud ul,
.rtl .widget_rss ul,
.rtl .wp-block-latest-posts,
.rtl .widget_recent_entries ul,
.rtl .widget_recent_comments ul,
.rtl .widget_pages ul,
.rtl .widget_meta ul,
.rtl .widget_categories ul,
.rtl .widget_archive ul,
.rtl ul.wp-block-archives,
.rtl ol.wp-block-latest-comments,
.rtl .widget ul.menu,
.rtl .widget ul.menu ul.sub-menu {
	padding-right: 0;
}
.rtl .site-footer .widget ul.menu .sub-menu > li,
.rtl #secondary .widget ul.menu .sub-menu > li,
.rtl .widget_pages ul.children > li,
.rtl .wp-block-categories.wp-block-categories-list ul.children > li,
.rtl .widget_categories ul.children > li {
	padding-right: 14px;
	padding-left: 0;
}
.rtl .site-footer .widget ul.menu .sub-menu li:before,
.rtl #secondary .widget ul.menu .sub-menu li:before,
.rtl .widget_pages ul.children > li:before,
.rtl .wp-block-categories.wp-block-categories-list ul.children > li:before,
.rtl .widget_categories ul.children > li:before {
    right: 0;
    left: auto;
}
.rtl .widget ul li .count {
	margin-left: 0;
	margin-right: 5px;
}
/*--------------------------------------------------------------
# Shop tables
--------------------------------------------------------------*/
.rtl .shop_table tr > th:not(:last-of-type), 
.rtl .shop_table:not(.woocommerce-cart-form__contents) tr > td:not(:last-of-type) {
	padding-left: 0;
}
@media (max-width: 48em) {
	.rtl table.shop_table_responsive tr td:not(.product-thumbnail):not(.download-actions):not(.actions):not(.product-remove):before {
		float: right;
	}
	.rtl table.shop_table_responsive tr > th:not(:last-of-type), 
	.rtl table.shop_table_responsive tr > td:not(:last-of-type) {
		padding-left: 0;
	}
}
/*--------------------------------------------------------------
# WooCommerce widgets
--------------------------------------------------------------*/
.rtl .woocommerce.widget_rating_filter ul,
.rtl .woocommerce-widget-layered-nav ul,
.rtl .product_list_widget {
	padding-right: 0;
}
/*--------------------------------------------------------------
## layered nav
--------------------------------------------------------------*/
.rtl .widget_layered_nav_filters li a:before {
	margin-left: 5px;
	margin-right: 0;
}
/*--------------------------------------------------------------
## Product category
--------------------------------------------------------------*/
.rtl .widget_product_categories .product-categories li .count {
	float: left;
}
.rtl .widget_product_categories .product-categories .cat-parent ul.children {
	border-right-style: solid;
	border-right-width: 1px;
	border-left-width: 0;
	margin-right: 0;
    padding-right: 0;
}
.rtl .widget_product_categories .product-categories .cat-parent ul.children li,
.rtl .widget_product_categories .product-categories li .count {
	padding-left: 0;
}
.rtl .widget_product_categories .product-categories .cat-parent ul.children li {
	padding-right: 14px;
}
.rtl .widget_product_categories .product-categories .cat-parent ul.children li::before {
	left: auto;
	right: 0;
}
.rtl .widget_product_categories .product-categories li .count {
	padding-right: 5px;
}
/*--------------------------------------------------------------
## Price filter
--------------------------------------------------------------*/
.rtl .widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-right: -10px;
	margin-left: 0;
}
/*--------------------------------------------------------------
## Product search 
--------------------------------------------------------------*/
.rtl .site-wc-search .woocommerce-product-search:before {
    left: auto;
	right: 16px;
}
.rtl .error-404.not-found .widget form[role="search"].woocommerce-product-search input[type="search"],
.rtl .site-wc-search .widget form[role="search"].woocommerce-product-search input[type="search"] {
	padding: 13px 43px 13px 15px;
}
/*--------------------------------------------------------------
## Product list widget
--------------------------------------------------------------*/
.rtl .product_list_widget:not(.cart_list) li img {
    right: 0;
    left: auto;
}
.rtl .product_list_widget del {
	margin-right: 0;
	margin-left: 5px;
}
.rtl .site-footer .product_list_widget:not(.cart_list) li,
.rtl #secondary .product_list_widget:not(.cart_list) li {
	padding-left: 0;
	padding-right: 100px;
}
/*--------------------------------------------------------------
## Mini cart
--------------------------------------------------------------*/
.rtl .woocommerce-mini-cart-item img.woocommerce-placeholder,
.rtl .woocommerce-mini-cart-item img.attachment-woocommerce_thumbnail {
	margin-left: 10px;
	margin-right: 0;
}
.rtl .woocommerce-mini-cart-item .remove_from_cart_button:before,
.rtl .woocommerce-mini-cart-item .remove_from_cart_button {
	right: auto;
	left: 0;
}
.rtl .woocommerce-mini-cart__total > .woocommerce-Price-amount {
	margin-left: 0;
	margin-right: 5px;
}
/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/
.rtl .entry-content .wc-item-meta,
.rtl .entry-content .woocommerce-thankyou-order-details,
.rtl .entry-content .wc_payment_methods {
	margin-right: 0;
}
.rtl .entry-content .wc_payment_methods {
	padding-right: 0;
}
/*--------------------------------------------------------------
## Order review
--------------------------------------------------------------*/
.rtl .woocommerce-checkout-review-order-table tfoot td,
.rtl .woocommerce-checkout-review-order-table .product-total {
    padding-right: 20px;
    padding-left: 0;
}
.rtl .woocommerce-checkout-review-order-table .cart-discount .woocommerce-Price-amount {
	margin-left: 10px;
	margin-right: 0;
}
.rtl .woocommerce-checkout-review-order-table #shipping_method li input[type="radio"] {
	margin-right: 10px;
    margin-left: 0;
}
.rtl .woocommerce-MyAccount-content input[type="radio"] + label img,
.rtl .wc_payment_methods label img {
	float: left;
    margin-right: 3px;
    margin-left: 0;
}
/*--------------------------------------------------------------
## Order received
--------------------------------------------------------------*/
.rtl .woocommerce-table--order-details tfoot td,
.rtl .woocommerce-table--order-details .product-total,
.rtl ul.woocommerce-thankyou-order-details li strong {
	padding-right: 15px;
	padding-left: 0;
}
.rtl .woocommerce-table--order-details tfoot td,
.rtl .woocommerce-table--order-details .product-total,
.rtl .woocommerce-thankyou-order-details li strong,
.rtl .woocommerce-table--order-details tr > th:not(:last-of-type), 
.rtl .woocommerce-table--order-details tr > td:not(:last-of-type) {
	padding-left: 0;
}
/*--------------------------------------------------------------
# My account
--------------------------------------------------------------*/
.rtl .woocommerce-MyAccount-downloads-file:before,
.rtl .woocommerce-MyAccount-navigation-link > a:before {
	margin-left: 10px;
	margin-right: 0;
}
.rtl .woocommerce-orders-table__cell-order-actions .button:not(:first-child) {
	padding-right: 10px;
}
/*--------------------------------------------------------------
## Payment Methods
--------------------------------------------------------------*/
.rtl .woocommerce-MyAccount-content .woocommerce-PaymentMethods {
	margin-right: 0;
}
.rtl #add_payment_method #payment .payment_method_stripe label[for=payment_method_stripe] {
	padding-right: 20px;
    padding-left: 0;
}
.rtl #add_payment_method .woocommerce-PaymentMethod label {
	margin-left: 0;
    margin-right: 10px;
}
/*--------------------------------------------------------------
## Customer login
--------------------------------------------------------------*/
@media (min-width: 48.0625em) {
	.rtl .woocommerce-table--order-downloads tr > *:not(:first-child),
	.rtl .woocommerce-MyAccount-orders tr > *:not(:first-child) {
		padding-right: 15px;
		padding-left: 0;
	}
	.rtl.has-sidebar:not(.page-template-template-fluid) .woocommerce-table--order-downloads td:before,
	.rtl.has-sidebar:not(.page-template-template-fluid) .woocommerce-MyAccount-orders td:before {
		float: right;
		margin-left: 10px;
		margin-right: 0;
	}
	.rtl .woocommerce-MyAccount-navigation-link.is-active:after {
		left: -25px;
		right: auto;
		border-width: 0 0 1px 1px;
	}
}
/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.rtl ul.products li.product .added_to_cart,
.rtl ul.products li.product .button {
	left: 20px;
	right: auto;
}
/*--------------------------------------------------------------
## WooCommerce Pagination
--------------------------------------------------------------*/
.woocommerce-pagination ul li .page-numbers [class*="feather-"] {
 	-webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
@media (min-width: 62em) {
	.rtl .conj-lite-wc-sorting > .woocommerce-ordering {
		margin-left: 10px;
		margin-right: 0;
	}
}
@media (min-width: 52em) {
	.rtl .conj-lite-wc-sorting .woocommerce-pagination {
        margin-right: auto;
        margin-left: 0;
	}
}
@media (max-width: 62em) and (min-width: 52em) {
	.rtl .conj-lite-wc-sorting > .woocommerce-ordering {
		margin-left: 10px;
		margin-right: 0;
	}
}
@media (max-width: 52em) and (min-width: 37.5em) {
	.rtl .conj-lite-wc-sorting > .woocommerce-result-count {
	    margin-right: 10px;
	    margin-left: 0;
	}
}
/*--------------------------------------------------------------
# Single product
--------------------------------------------------------------*/
.rtl.single-product div.product .entry-summary del .woocommerce-Price-amount {
	padding-right: 0;
	padding-left: 15px;
}
.rtl.single-product .site-main > .product > .conj-lite-wc-product__flashs {
    right: 30px;
    left: auto;
}
.rtl.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	left: 30px;
	right: auto;
}
.rtl.single-product .single_add_to_cart_button:before {
	margin-left:10px;
	margin-right:0;
}
.rtl div.product .entry-summary .quantity {
    margin-left: 10px;
    margin-right: 0;
}
.rtl .reset_variations {
    padding: 0 7px 7px 0;
    margin-right: auto;
    margin-left: 0;
}
@media (min-width: 27.5625em) {
	.rtl .woocommerce-product-rating .woocommerce-review-link {
		margin-right: 8px;
		margin-left: 0;
	}
}
@media (min-width: 82.0625em) {
	.rtl.single-product.has-sidebar:not(.product-template-template-fluid) .type-product .woocommerce-product-gallery {
		margin-left: 30px;
		margin-right: 0;
		float: right;
	}
	.rtl.single-product.has-sidebar:not(.product-template-template-fluid) .type-product .entry-summary {
		float: left;
	}
}
@media (min-width: 62.0625em) {
	.rtl.single-product.has-sidebar.product-template-template-fluid .type-product .woocommerce-product-gallery,
	.rtl.single-product .type-product .woocommerce-product-gallery {
		margin-left: 30px;
		margin-right: 0;
		float: right;
	}
	.rtl.single-product.has-sidebar.product-template-template-fluid .type-product .entry-summary,
	.rtl.single-product .type-product .entry-summary {
		float: left;
	}
}
@media (max-width: 72em) and (min-width: 62.0625em) {
	.rtl.single-product.has-sidebar div.product .entry-summary dd {
		padding-right: 10px;
		padding-left: 0;
	}
}
@media (max-width: 27.5em) {
	.rtl div.product .entry-summary .conj-lite-wc-price__wrapper .woocommerce-Price-amount {
		margin-right: 0;
		margin-left: 10px;
	}
}
/*--------------------------------------------------------------
## Tabs
--------------------------------------------------------------*/
.rtl .woocommerce-tabs .woocommerce-Tabs-panel--description table tr td:not(:last-of-type):after,
.rtl .woocommerce-tabs .woocommerce-Tabs-panel--description table tr th:not(:last-of-type):after {
    left: 0;
    right: auto;
}
@media (min-width: 72.0625em) {
	.rtl.has-sidebar:not(.product-template-template-fluid) .woocommerce-tabs ul.tabs li.active:after {
		left: -16px;
		right: auto;
	}
}
@media (min-width: 62.0625em) {
	.rtl .woocommerce-tabs .woocommerce-Tabs-panel {
		float: left;
	}
	.rtl .woocommerce-tabs ul.tabs {
		float: right;
	}
	.rtl .woocommerce-tabs ul.tabs li.active:after {
		right: auto;
		left: -25px;
		border-width: 0 0 1px 1px;
	}
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.rtl ol.commentlist .children .comment-text .meta {
	padding-right: 55px;
	padding-left: 0;
}
.rtl ol.commentlist .comment-text .star-rating {
	left: 0;
	right: auto;
}
.rtl ol.commentlist .comment-text .meta {
	padding-right: 60px;
    padding-left: 90px;
}
.rtl ol.commentlist .comment-text .meta:after {
	right: 0;
	left: auto;
}
/*--------------------------------------------------------------
# Star rating
--------------------------------------------------------------*/
.rtl .star-rating:before {
	float: right;
}
.rtl .star-rating span:before,
.rtl .star-rating span,
.rtl .star-rating:before {
	right: 0;
	left: auto;
}
/*--------------------------------------------------------------
# Cart page
--------------------------------------------------------------*/
.rtl .cart-discount .woocommerce-remove-coupon {
	margin-right: auto;
	margin-left: 0;
}
.rtl .woocommerce-cart-form__contents tr > td:not(.product-name) {
	padding-left: 5px;
	padding-right: 0;
}
/*--------------------------------------------------------------
## Cart collaterals
--------------------------------------------------------------*/
.rtl .shipping-calculator-button:before {
	margin-left: 5px;
	margin-right: 0;
}
.rtl .wc-proceed-to-checkout .checkout-button:after {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
@media (min-width: 48.0625em) {
	.rtl .coupon {
		margin-left: 20px;
		margin-right: 0;
	}
	.rtl .woocommerce-cart-form__contents tr > td.product-name {
		padding-left: 1em;
		padding-right: 1em;
	}
}
@media (max-width: 62.01em) {
	.rtl .wc-proceed-to-checkout .checkout-button:after {
		margin-right: 10px;
		margin-left: 0;
	}
	.rtl .cart_totals #shipping_method li .shipping_method {
		margin-right: 10px;
		margin-left: 0;
	}
}
/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/
.rtl nav.woocommerce-breadcrumb:after {
    right: 50%;
    left: auto;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}
/*--------------------------------------------------------------
# Search result
--------------------------------------------------------------*/
.rtl.search-results:not(.post-type-archive) .site-main article .entry-meta span {
	margin: 0 0 5px 10px;
}
@media (min-width: 37.5625em) {
	.rtl.search-results:not(.post-type-archive) .site-main article.type-product .entry-meta {
		border-width: 0 0 0 1px;
	}
}
@media (min-width: 48.0625em) {
	.rtl.search-results:not(.post-type-archive) .site-main article.type-product .entry-meta {
		padding-right: 0;
		padding-left: 30px;
		margin-right: 0;
		margin-left: 30px;
	}
}
@media (max-width: 48em) and (min-width: 37.5625em) {
	.rtl.search-results:not(.post-type-archive) .site-main article.type-product .entry-meta {
		padding-right: 0;
		padding-left: 20px;
		margin-right: 0;
		margin-left: 20px;
	}
}
/*--------------------------------------------------------------
# IE10+ CSS
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/*--------------------------------------------------------------
	## Header
	--------------------------------------------------------------*/
	.rtl .slinky-menu .header .title {
		text-align: left;
	}
	/*--------------------------------------------------------------
	## WooCommerce
	--------------------------------------------------------------*/
	.rtl .star-rating span, 
	.rtl .star-rating::before {
		text-align: right;
	}
	.rtl.single-product div.product .entry-summary .variations tbody td {
		display: flex;
	}
	.single-product.rtl div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs > *:nth-child(5n),
	.single-product.rtl div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs > *:nth-child(4n),
	.single-product.rtl div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs > *:nth-child(3n),
	.single-product.rtl div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs > *:nth-child(2n) {
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
## IE10+ CSS minimum width 48.0625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (min-width: 48.0625em), (-ms-high-contrast: active) and (min-width: 48.0625em) {
	/*--------------------------------------------------------------
	### Comments
	--------------------------------------------------------------*/
	.rtl .comment-respond .comment-form .comment-form-author{
		margin-left: 10px;
		margin-right: 0;
	}
	.rtl .comment-respond .comment-form .comment-form-url,
	.rtl .comment-respond .comment-form .comment-form-rating {
		margin-right: 10px;
		margin-left: 0;
	}
	/*--------------------------------------------------------------
	### WooCommerce
	--------------------------------------------------------------*/
	.rtl.woocommerce-running #masthead .site-header-cart {
		padding-right: 15px;
		padding-left: 0;
	}
}
/*--------------------------------------------------------------
## IE10+ CSS maximum width 48.0625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (max-width: 48.0625em) , (-ms-high-contrast: active) and (max-width: 48.0625em) {
	/*--------------------------------------------------------------
	### Cart
	--------------------------------------------------------------*/
	.rtl .woocommerce-cart-form__cart-item .product-remove {
		left: 0;
		right: auto;
	}
}
/*--------------------------------------------------------------
## IE10+ CSS minimum width 62.0625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (min-width: 62.0625em), (-ms-high-contrast: active) and (min-width: 62.0625em) {
	/*--------------------------------------------------------------
	### Header
	--------------------------------------------------------------*/
	.rtl.woocommerce-running #masthead > .col-full > .primary-navigation,
	.rtl #masthead > .col-full > .site-branding {
		margin-left: 20px;
		padding-right: 0;
	}
	.rtl #masthead > .col-full > .site-header-cart,
	.rtl.woocommerce-running #masthead > .col-full > .primary-navigation,
	.rtl:not(.woocommerce-running) #masthead > .col-full > .primary-navigation {
		margin-right: 20px;
		padding-left: 0;
	}
	/*--------------------------------------------------------------
	### WooCommerce
	--------------------------------------------------------------*/
	.rtl.page-template-template-fluid.has-sidebar .cart-collaterals > *:nth-child(odd),
	.rtl.woocommerce-cart:not(.has-sidebar) .cart-collaterals > *:nth-child(odd) {
		padding-left: 25px;
		padding-right: 0;
	}
	.rtl.page-template-template-fluid.has-sidebar .cart-collaterals > *:nth-child(even),
	.rtl.woocommerce-cart:not(.has-sidebar) .cart-collaterals > *:nth-child(even) {
		padding-right: 25px;
		padding-left: 0;
	}
	.rtl.woocommerce-running #masthead .site-branding {
		padding-left: 15px;
		padding-right: 0;
	}
	/*--------------------------------------------------------------
	### 404
	--------------------------------------------------------------*/
	.rtl .error-404-first > *:nth-child(2) {
		margin-right: 15px;
		margin-left: 0;
	}
	.rtl .error-404-first > *:nth-child(1):not(:only-child) {
		margin-left: 15px;
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
## IE10+ CSS minimum width 82.0625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (min-width: 82.0625em), (-ms-high-contrast: active) and (min-width: 82.0625em) {
	/*--------------------------------------------------------------
	### WooCommerce
	--------------------------------------------------------------*/
	.rtl.woocommerce-running.woocommerce-checkout #customer_details .col-2,
	.rtl.woocommerce-running.woocommerce-checkout form.woocommerce-checkout .col-1 {
		padding-right: 0;
		padding-left: 25px;
	}
	.rtl.woocommerce-running.woocommerce-checkout form.woocommerce-checkout .conj-lite-wc-checkout-order-review__wrapper {
		padding-left: 0;
		padding-right: 25px;
	}
	.rtl.woocommerce-running.woocommerce-checkout form.woocommerce-checkout .woocommerce-additional-fields {
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
## IE10+ CSS minimum width 37.5625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (min-width: 37.5625em), (-ms-high-contrast: active) and (min-width: 37.5625em) { 
	/*--------------------------------------------------------------
	## Gallery block
	--------------------------------------------------------------*/
	.rtl .wp-block-gallery.columns-3 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-4 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-5 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-6 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-7 .blocks-gallery-item:not(:last-child),
	.rtl .wp-block-gallery.columns-8 .blocks-gallery-item:not(:last-child) {
		margin-left: 15.99px; 
		margin-right: 0; 
	}
	.rtl .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n),
	.rtl .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),
	.rtl .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),
	.rtl .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n),
	.rtl .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n),
	.rtl .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n),
	.rtl .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n),
	.rtl .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n) {
		margin-left: 0; 
	} 
}
/*--------------------------------------------------------------
## IE10+ CSS maximum width 62.0625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (max-width: 62.0625em), (-ms-high-contrast: active) and (max-width: 62.0625em) {
	/*--------------------------------------------------------------
	### WooCommerce
	--------------------------------------------------------------*/
	.rtl.woocommerce-running #masthead .site-branding {
		margin-left: auto;
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
## IE10+ CSS maximum width 27.5625em
--------------------------------------------------------------*/
@media all and (-ms-high-contrast: none) and (max-width: 27.5625em), (-ms-high-contrast: active) and (max-width: 27.5625em) {
	/*--------------------------------------------------------------
	### Widgets
	--------------------------------------------------------------*/
	.widget_tag_cloud .wp-tag-cloud li:nth-child(2n),
	.widget_product_tag_cloud .tagcloud > *:nth-child(2n) {
		margin-right: 5px;
	}
	.widget_tag_cloud .wp-tag-cloud li:nth-child(2n+1),
	.widget_product_tag_cloud .tagcloud > *:nth-child(2n+1) {
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
# IE Edge 16+ CSS
--------------------------------------------------------------*/
@supports (-ms-ime-align:auto) {
	.rtl .star-rating {
		text-align: right;
	}
}
