/**
 * Theme Customizer enhancements, specific to panels, for a better user experience.
 *
 * @package     mypreview-conj
 */
#accordion-section-mypreview_conj_lite_get_premium_sec .accordion-section-title {
	overflow: hidden;
}
#customize-controls .control-section-mypreview_conj_lite_get_premium_sec .accordion-section-title:hover,
#customize-controls .control-section-mypreview_conj_lite_get_premium_sec .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-mypreview_conj_lite_get_premium_sec .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}