/**
 * Used to style WooCommerce blocks in Gutenberg editor.
 *
 * @package     conj-lite
 * @author      MyPreview (Github: @mypreview, @gookalani)
 */
.wc-block-grid__product {
	margin-right: 30px;
	margin-top: 30px;
	padding: 20px 20px 57px;
}
.wc-block-grid__product-title {
	font-family: 'Rubik',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	line-height: 1.75;
    font-weight: 500;
    font-size: 16px;
}
.wc-block-grid__product-price {
	margin: 15px 0 0;
}
.wc-block-grid__product-rating, 
.wc-block-grid__product-title {
    margin-bottom: 0;
}
.wc-block-grid__product-add-to-cart > a,
.wc-block-grid__product,
.wc-block-grid__product-add-to-cart:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
	background-color: #FFFFFF;
}
.block-editor-block-list__layout .wc-block-grid__product-add-to-cart .wp-block-button__link {
    padding: 0;
    border: 0;
    min-width: auto;
    min-height: auto;
    bottom: 20px;
    width: 22px;
    height: 22px;
    right: 20px;
    position: absolute;
    text-align: right;
    text-indent: 9999px;
    overflow: hidden;
    border-radius: 0;
}
.wc-block-grid__product-add-to-cart {
    position: absolute;
    bottom: 0;
    right: 0;
}
.wc-block-grid__product-add-to-cart > a:after {
	line-height: normal;
	font-family: 'Feather';
	text-indent: 0;
	font-size: 19px;
    top: 0;
    position: absolute;
    right: 0;
}
.wc-block-grid__product-add-to-cart > a:after {
	content: "\e999";
}
.wc-block-grid__product-add-to-cart > a.add_to_cart_button:after {
	content: "\e9c8";
}
.wc-block-grid__product-add-to-cart > a.product_type_variable:after {
	margin-top: 4px;
	content: "\e95b";
}
.wc-block-grid__product-add-to-cart > a.roduct_type_external:after {
	content: "\e95a";
}
.wc-block-grid__product-onsale {
	padding: 8px 11px;
    min-width: 90px;
    min-height: 30px;
    font-size: 12px;
    line-height: normal;
	background-color: #FF4961;
	color: #FFFFFF;
	font-weight: 500;	
	margin-bottom: 10px;
	top: 20px;
	left: 20px;
    text-transform: none;
}
.wc-block-grid__product-price .price__wrapper {
    flex-wrap: wrap;
    display: flex;
    line-height: 1.38;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.wc-block-grid__product-price del {
	opacity: 0.4;
	margin: 0 4px;
	font-size: 87%;
}
.wc-block-grid__product-rating .star-rating {
    bottom: 17px;
    position: absolute;
    left: 20px;
	height: 24px;
	line-height: 1.618;
	width: 80px;
	font-size: 16px;
	font-family: 'Feather';
	overflow: hidden;
	text-align: left;
}
.wc-block-grid__product-rating .star-rating span:before {
	content: "\e9d3\e9d3\e9d3\e9d3\e9d3";
	color: #FFBF71;
}
.wc-block-grid__product-rating .star-rating:before {
	content: "\e9d3\e9d3\e9d3\e9d3\e9d3";
	opacity: .25;
	float: left;
}
.wc-block-grid__product-price .price-label {
	order: -1;
	flex: 0 0 100%;
	line-height: normal;
}
.wc-block-grid.has-1-columns .wc-block-grid__product:nth-child(1) {
	margin-top: 0;
}
.wc-block-grid.has-1-columns .wc-block-grid__product:nth-child(n) {
	margin-right: 0;
}
@media (min-width: 60.0625em) {
	.wc-block-grid.has-4-columns .wc-block-grid__product {
	    max-width: calc((100% - 30.02px * 3) /4);
	}
	.wc-block-grid.has-3-columns .wc-block-grid__product {
	    max-width: calc((100% - 30.02px * 2) /3);
	}
	.wc-block-grid.has-2-columns .wc-block-grid__product {
	    max-width: calc((100% - 30.02px) /2);
	}
	.wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(-n+2),
	.wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(-n+3),
	.wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(-n+4) {
		margin-top: 0;
	}
	.wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(2n),
	.wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(3n),
	.wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(4n) {
		margin-right: 0;
	}
}
@media (max-width: 60em) and (min-width: 37.5625em) {
	.wc-block-grid:not(.has-1-columns) .wc-block-grid__product {
		width: calc((100% - 30.02px) /2);
	}
	.wc-block-grid:not(.has-1-columns) .wc-block-grid__product:nth-child(2n) {
		margin-right: 0;
	}
	.wc-block-grid:not(.has-1-columns) .wc-block-grid__product:nth-child(-n+2) {
		margin-top: 0;
	}
}
@media (max-width: 37.5em) {
	.wc-block-grid .wc-block-grid__product {
		margin: 30px 0 0;
	}
	.wc-block-grid .wc-block-grid__product:nth-child(1) {
		margin-top: 0;
	}
}